/* div{
    height: 300px;
    width:300px;
    border: 2px solid black;
    margin:10px;
}
img{
    height: 300px;
    width:300px;
}
body{
  font-family: "JetBrains Mono";
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono";;
}

body{
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 450px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1{
    margin-bottom: 15px;
    color: #333;
}

 .card{
    width: 100%;
    height: 300px;   /* important */
    border-radius: 10px;
    overflow: hidden;
    border: 2px dashed #eee;
}


.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;  /* full image, may leave space */
    background: #f5f5f5;
}


/* .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

button{
    padding: 10px 20px;
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover{
    background: #574bdb;
}
